body {
    background-image: linear-gradient(to bottom,#DCBB8Bff, #AE9277ff, #BB7E33ff,rgb(139, 122, 106), rgb(85, 65, 49));

}
a{
    color: magenta
}
a:hover{
    color: green;   
}
#parrafo {
background: yellow;
color: red;
}
#parrafo:hover {
background: blue;
color: white;
}
li:hover {
    background-color: aqua;
}
#encabezado:hover {
    background-color: blueviolet;
}
button {
    background-image: linear-gradient(to right top, #6bd1aa, #6ad5b8, #6dd8c4, #72dbd0, #79dedb, #6fe2dd, #63e7de, #57ebdf, #35f1d0, #26f6ba, #3df99c, #5ffb78);
}
input[type="password"] {
    background-color: yellow;
}
#ima1 { 
    border: 10px solid black;
    border-radius: 100px;
}
table {
    border: 10px double black;
}
*{
    margin: 10;
    padding: 10;
    box-sizing: border-boxs;
}
